# Android Studio
.idea/
*.iml

# Gradle
.gradle/

# Build folders
build/
*/build/
app/build/

# Local config
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# APKs
*.apk
*.aab

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
